/*
--cultured: #efefef;
--cerulean-blue: #3454d1;
--turquoise: #34d1bf;
--rich-black-fogra-39: #070707;
--cerise: #d1345b;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Glass card repurposed from W3Schools sample code*/
.glass-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.glass-card:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

/* Toast */
.toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin: 0 auto;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 15px 70px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
  box-shadow: 0 0 15px #444;
  font-family: verdana;
}

.toast.error {
  color: #fb3640;
}

.toast i {
  left: 0;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
  /* animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Validation */
form .section {
  position: relative;
}

form .section .fa-check-circle,
form .section .fa-times-circle {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 35px;
}

form .section.success input {
  border: 2px solid #0cce6b;
}

form .section.success .fa-check-circle {
  visibility: visible;
  color: #0cce6b;
}

form .section.error input {
  border: 2px solid #fb3640;
}

form .section.error .fa-times-circle {
  visibility: visible;
  color: #fb3640;
}

form .section p {
  visibility: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  font-style: italic;
}

form .section.error p {
  visibility: visible;
}

@font-face {
  font-family: lemonmilk;
  src: url("fnt/LEMONMILK-Regular.otf");
}

#home #feature {
  height: 70vh;
  width: 100%;
}

#login,
#signup,
#error,
#home #feature {
  animation: Waves 20s linear infinite;
  background: radial-gradient(
    #3454d1 10%,
    #d1345b 35%,
    #d1345b 60%,
    #3454d1 80%
  );
  background-size: 400% 400%;
}

#login,
#signup,
#error {
  min-height: 100vh;
  background-attachment: fixed;
}

#home #feature h1 {
  font-family: lemonmilk;
  font-size: 72pt;
  color: #070707;
  text-align: center;
}

#home #feature ul {
  list-style: none;
  padding: 40px 0;
}

#home #feature #buttons {
  justify-content: space-around;
}

#home #feature li {
  width: 40%;
}

.action-button {
  background-color: #34d1bf;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: lemonmilk;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #fff;
  transition-duration: 0.2s;
}

#home #feature a {
  width: 100%;
  display: block;
  text-align: center;
}

.action-button:hover {
  box-shadow: 0px 0px 3px #fff, 3px 3px 3px #333;
  background-color: #1c9789;
  color: #ccc;
  transition-duration: 0.2s;
}

@keyframes Waves {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#home #info {
  min-height: 30vh;
  background-color: #070707;
}

#home #info #cards {
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  align-items: stretch;
  height: 100%;
  padding: 15px;
  row-gap: 10px;
}

#home #info #cards > div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  color: #070707;
  width: 25%;
}

#home #info #cards i {
  display: inherit;
  text-align: center;
  font-size: 42pt;
  padding: 20px;
}

#home #info #cards h1 {
  font-family: lemonmilk;
  font-size: 12pt;
  padding: 10px;
  text-align: center;
}

#home #info #cards p {
  text-align: justify;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
}

#home #info #cards > div:hover {
  background-color: #efefef;
  cursor: pointer;
}

#home #info #cards > div:nth-child(1):hover i,
#home #info #cards > div:nth-child(1):hover h1 {
  color: #34d1bf;
}

#home #info #cards > div:nth-child(2):hover i,
#home #info #cards > div:nth-child(2):hover h1 {
  color: #d1345b;
}

#home #info #cards > div:nth-child(3):hover i,
#home #info #cards > div:nth-child(3):hover h1 {
  color: #3454d1;
}

.form-page #content {
  width: 100%;
}

.form-page form {
  width: 20%;
  margin: 0 auto;
  padding: 20px;
}

.form-page form h1 {
  font-family: lemonmilk;
  text-align: center;
  padding: 10px 0 20px 0;
}

.form-page form a {
  color: black;
  font-style: italic;
  text-decoration: none;
  animation: PulseText linear 5s infinite;
}

.form-page form a:hover {
  color: #ddd;
  animation: none;
}

.form-page form .section {
  margin-bottom: 20px;
}

.form-page form label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-page form input {
  width: 100%;
  padding: 8px;
}

.form-page form input[type="text"],
.form-page form input[type="password"] {
  margin-top: 5px;
}

.form-page form input[type="submit"] {
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 3px #222;
}

/* ---------- ERROR PAGE ---------- */

#error .glass-card {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#error .glass-card h1 {
  font-family: lemonmilk;
  padding: 20px;
  font-size: 36pt;
  text-decoration: underline;
}

#error .glass-card h2 {
  font-family: lemonmilk;
  font-size: 14pt;
}

#error a {
  display: block;
  margin: 20px auto;
  width: 30%;
  padding: 10px;
}

/* ---------- CHAT ---------- */

#chat, #side-menu, #chat-window, #users {
  max-height: 100vh;
}

/* Side menu */

#side-menu {
  width: 20%;
  background-color: green;
  display: flex;
}

#servers {
  width: 25%;
  background-color: #111;
  position: relative;
}

.server {
  padding: 5px 0;
}

.server:hover {
  background-color: #333;
  cursor: hand;
}

.server:hover h1 {
  color: #34d1bf;
}

.server:hover .server-image {
  box-shadow: inset 0 0 10px #34d1bf, 0 0 10px #34d1bf;
}

.server h1 {
  color: #bbb;
  font-family: lemonmilk;
  padding: 0% 10%;
  font-size: 8pt;
  text-align: center;
  word-wrap: break-word;
}


.server-image {
  height: 0;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 10%;
  margin: 10% auto;
  background-size: cover;
  background-position: center;
}

.server.add .server-image {
  background-color: #d1345b;
  border-radius: 50%;
}

.server.active .server-image {
  box-shadow: inset 0 0 10px #fff, 0 0 10px #fff;
}

.server.active h1 {
  color: white;
}

#server-buttons {
  bottom: 0;
  position: absolute;
  padding: 10%;
  font-family: lemonmilk;
}

#server-buttons h1 {
  font-size: 8pt;
  color: white;
  margin: 2px 0;
  display: inline-block;
  width: 100%;
  background-color: #d1345b;
  border-radius: 2px;
}

#server-buttons h1:hover {
  background-color: #90223e;
}

#server-buttons a {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

#server-buttons h1.logout {
  background-color: #34d1bf;
}

#server-buttons h1.logout a {
  color: #333;
}

#server-buttons h1.logout:hover {
  background-color: #209789;
}


#rooms {
  width: 75%;
  background-color: #222;
  padding: 3%;
}

#rooms h1.server-name {
  color: white;
  border-bottom: 1px solid white;
  font-family: lemonmilk;
  font-size: 14pt;
  text-align: center;
  padding-bottom: 10px;
}

#rooms .room, #rooms .add-room {
  font-weight: normal;
  font-family: lemonmilk;
  font-size: 12pt;
  margin: 20px 0;
}

#rooms .room a, #rooms .add-room a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 50px;
}

#rooms .room i, #rooms .add-room i {
  padding-right: 10px;
}

#rooms .add-room a {
  background-color: #d1345b;
  color: white;
  text-align: center;
}

#rooms .room a, #rooms .room a {
  color: #aaa;
}

#rooms .room.active a {
  color: white;
  background-color: #666;
}

#rooms .room:not(.active) a:hover {
  background-color: #444;
  color: white;
}

#rooms p.help {
  padding: 10px 0;
  color: white;
  font-family: lemonmilk;
  font-size: 10pt;
  text-align: center;
}

#rooms p.help span {
  color: #d1345b;
}

/* Chat window */

#chat-window {
  width: 65%;
  background-color: #333;

}

#chat-window #messages {
  overflow-y: scroll;
  max-height: 92vh;
}

#chat-window .message {
  padding: 15px;
}

#chat-window .message h1 {
  font-family: Verdana;
  font-size: 12pt;
  color: #34d1bf;
}

#chat-window .message p {
  font-family: verdana;
  color: white;
}

#chat-window #new-message {
  max-height: 8vh;
  height: 8vh;
}

#chat-window #new-message form {
  height: 100%;
  width: 100%;
  padding: 0 15px 30px 15px;
}

#chat-window form div {
  height: 100%;
  justify-content: space-between;
}

#chat-window #new-message textarea {
  width: 87%;
  border: none;
  padding: 10px;
  resize: none;
  font-family: Verdana;
  background-color: #444;
  color: white;
  font-size: 12pt;
}

#chat-window #new-message button {
  width: 10%;
  border-radius: 100px;
  border: none;
  background-color: #d1345b;
  color: white;
  font-size: 16pt;
}

#chat-window #new-message button:hover {
  border: none;
  background-color: #901c39;
  cursor: hand;
}

#chat-window #new-message textarea, #chat-window #new-message button {
  height: 100%;
  margin: 0 5px;
}

#chat-window .uh-oh {
  height: 100%;
}

#chat-window .uh-oh h1, #chat-window .uh-oh h2 {
  font-family: lemonmilk;
  text-align: center;
}

#chat-window .uh-oh h1 {
  color: white;
}

#chat-window .uh-oh h2 {
  color: #34d1bf;
}

/* Users */

#users {
  width: 15%;
  background-color: #222;
  padding: 20px;
}

#users .user {
  font-family: Verdana;
  color: white;

}

#users .user h2{
  font-size: 12pt;
  font-weight: normal;
  padding: 10px 0;
}

#users .add-user {
  font-weight: normal;
  font-family: lemonmilk;
  font-size: 12pt;
  margin: 10px 0;
}

#users .add-user a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #d1345b;
  color: white;
  text-align: center;
}

#users .add-user i{
  padding-right: 10px;
}

#users h1 {
  color: white;
  border-bottom: 1px solid white;
  font-family: lemonmilk;
  font-size: 14pt;
  text-align: center;
  padding-bottom: 10px;
}


/* Animations */

@keyframes PulseText {
  0% {
    color: black;
  }
  60% {
    color: black;
  }
  70% {
    color: #34d1bf;
  }
  90% {
    color: #34d1bf;
  }
  100% {
    color: black;
  }
}

@media all and (max-width: 960px) {
  #home #info #cards > div {
    width: 70%;
  }

  #login form {
    width: 50%;
  }
}

@media all and (max-width: 768px) {
  #home #info #cards > div {
    width: 100%;
  }

  #home #feature h1 {
    font-size: 56pt;
  }

  #login form {
    width: 80%;
  }
}
