/*
--cultured: #efefef;
--cerulean-blue: #3454d1;
--turquoise: #34d1bf;
--rich-black-fogra-39: #070707;
--cerise: #d1345b;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container { 
    display: flex;
    flex-wrap: wrap;
}

.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass card repurposed from W3Schools sample code*/
.glass-card {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
  
.glass-card:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

/* Validation */
form .section {
    position: relative;
}

form .section .fa-check-circle, form .section .fa-times-circle {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 35px;
}

form .section.success input {
    border: 2px solid #0CCE6B;
}

form .section.success .fa-check-circle {
    visibility: visible;
    color: #0CCE6B;
}

form .section.error input {
    border: 2px solid #FB3640;
}

form .section.error .fa-times-circle {
    visibility: visible;
    color: #FB3640;
}

form .section p {
    visibility: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-style: italic;
}

form .section.error p {
    visibility: visible;
}

@font-face{
    font-family: lemonmilk;
    src: url('fnt/LEMONMILK-Regular.otf');
}








#home #feature {
    height: 70vh;
    width: 100%;
}

#login, #signup, #home #feature {
    animation: Waves 20s linear infinite;
    background: radial-gradient(#3454d1 10%,#d1345b 35%, #d1345b 60%, #3454d1 80%);
    background-size: 400% 400%;
}

#login, #signup {
    min-height: 100vh;
    background-attachment: fixed;
}

#home #feature h1 {
    font-family: lemonmilk;
    font-size: 72pt;
    color: #070707;
    text-align: center;
}

#home #feature ul {
    list-style: none;
    padding: 40px 0;
}

#home #feature #buttons {
    justify-content: space-around;
}

#home #feature li {
    width: 40%;
}

.action-button {
    background-color: #34d1bf;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: lemonmilk;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #fff;
    transition-duration: .2s;
}

#home #feature a {
    width: 100%;
    display: block;
    text-align: center;
}

.action-button:hover {
    box-shadow: 0px 0px 3px #fff, 3px 3px 3px #333;
    background-color: #1c9789;
    color: #ccc;
    transition-duration: .2s;
}

@keyframes Waves { 
    0%{background-position:0% 0%}
    50%{background-position:90% 100%}
    100%{background-position:0% 0%}
}

#home #info {
    min-height: 30vh;
    background-color: #070707;
}

#home #info #cards {
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    align-items: stretch;
    height: 100%;
    padding: 15px;
    row-gap: 10px;
}

#home #info #cards > div {
    background-color: rgba(255,255, 255,0.8);
    border-radius: 10px;
    padding: 10px;
    color: #070707;
    width: 25%;
}

#home #info #cards i {
    display: inherit;
    text-align: center;
    font-size: 42pt;
    padding: 20px;
}

#home #info #cards h1 {
    font-family: lemonmilk;
    font-size: 12pt;
    padding: 10px;
    text-align: center;
}

#home #info #cards p {
    text-align: justify;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}

#home #info #cards > div:hover {
    background-color: #efefef;
    cursor: pointer;
}

#home #info #cards > div:nth-child(1):hover i, #home #info #cards > div:nth-child(1):hover h1 {
    color: #34d1bf;
}

#home #info #cards > div:nth-child(2):hover i, #home #info #cards > div:nth-child(2):hover h1 {
    color: #d1345b;
}

#home #info #cards > div:nth-child(3):hover i, #home #info #cards > div:nth-child(3):hover h1 {
    color: #3454d1;
}

.form-page #content {
    width: 100%;

}

.form-page form {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
}

.form-page form h1 {
    font-family: lemonmilk;
    text-align: center;
    padding: 10px 0 20px 0;
}

.form-page form a {
    color: black;
    font-style: italic;
    text-decoration: none;
    animation: PulseText linear 5s infinite;
}

.form-page form a:hover {
    color: #ddd;
    animation: none;
}

.form-page form .section {
    margin-bottom: 20px;
}

.form-page form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-page form input {
    width: 100%;
    padding: 8px;
}

.form-page form input[type="text"], .form-page form input[type="password"]{
    margin-top: 5px;
}

.form-page form input[type="submit"] {
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 3px #222;
}




/* Animations */

@keyframes PulseText {
    0% {color: black;}
    60% {color: black;}
    70% {color: #34d1bf;}
    90% {color: #34d1bf;}
    100% {color: black;}
}

@media all and (max-width: 960px){
    #home #info #cards > div {
        width: 70%;
    }

    #login form {
        width: 50%;
    }
}

@media all and (max-width: 768px){
    #home #info #cards > div {
        width: 100%;
    }

    #home #feature h1 {
        font-size: 56pt;
    }

    #login form {
        width: 80%;
    }
}